[submodule "forge"]
	path = forge
	url = https://github.com/MinecraftForge/MinecraftForge.git
	branch = 1.12.x
[submodule "bukkit"]
	path = bukkit
	url = https://github.com/Mgazul/Bukkit.git
	branch = 1.12.2
