[submodule "forge"]
	path = forge
	url = https://github.com/MinecraftForge/MinecraftForge.git
	branch = 1.7.10
[submodule "bukkit"]
	path = bukkit
	url = https://github.com/CyberdyneCC/Thermos-Bukkit.git
