[submodule "kite"]
	path = kite
	url = https://github.com/Mohist-Community/Kite.git
	branch = 1.12.2
[submodule "forge"]
	path = forge
	url = https://gitee.com/pfcraft/MinecraftForge.git
	branch = 1.12.x
