<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="net.minecraft,com.mojang">
    <Appenders>
        <Console name="FmlSysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger]: %msg%n" />
        </Console>
        <Console name="SysOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
        </Console>
        <Queue name="TerminalConsole">
           <PatternLayout pattern="[%d{HH:mm:ss} %level]: %msg%n" />
        </Queue>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger level="info" name="com.mojang" additivity="false">
            <AppenderRef ref="TerminalConsole" level="INFO" />
            <AppenderRef ref="File" />
        </Logger>
        <Logger level="info" name="net.minecraft" additivity="false">
            <filters>
                <MarkerFilter marker="NETWORK_PACKETS" onMatch="DENY" onMismatch="NEUTRAL" />
            </filters>
			<AppenderRef ref="TerminalConsole" level="INFO" />
            <AppenderRef ref="File" />
        </Logger>
        <Root level="all" >
            <AppenderRef ref="TerminalConsole" level="INFO" />
            <AppenderRef ref="File" level="INFO" />
        </Root>
    </Loggers>
</Configuration>
